# Visual Studio cache folders
.vs/
bin/
obj/
TestResults/
*.user
*.suo
*.cache
*.log
*.dbmdl
*.bak
*.tmp
*.vspscc
*.vssscc
/GlamoraHairdresser/obj/project.nuget.cache
/GlamoraHairdresser/obj/project.assets.json
/GlamoraHairdresser/Forms/AuthForms/RegisterForm.resx
